.offset-image
  position: relative
  *
    position: relative
    padding-left: 20%
    padding-top: 5%
    padding-bottom: 5%
  &::before
    position: absolute
    content: ''
    top: 0
    bottom: 0
    left: 0
    right: 50%
  &.inverse
    padding-left: 0
    padding-right: 20%
    &::before
      right: 0
      left: 50%
  &.blue
    &::before
      background-color: #00b0e9
  &.pink
    &::before
      background-color: #C9447E

.cajon.color-primario
  background-color: #F4DCE6

.cajon-extra
  .col-lg-8
    padding-left: calc(var(--bs-gutter-x));
  .col-lg-4
    padding-right: 0!important
  &.blue
    background-color: #D8EFFB
    .col-lg-4
      background-color: #00B0E9
  &.pink
    background-color: #F4DCE6
    .col-lg-4
      background-color: #C9447E

.box-alternative
  border-radius: 20px
  width: 100%;
  figure
    max-width: 30%
  &.pink
    background-color: #FFF1F7
    border: 3px solid #CE588A
  &.blue
    background-color: #E9F7FF
    border: 3px solid #339CE9

.box-normal
  &.pink
    background-color: #F4DCE6

.tarjeta.color-acento-contenido
  background-color: #ECF8FF

.tabs-a__tab
  background-color: #EBEBEB

.tarjeta.tarjeta-flip
  min-height: 300px
.tarjeta-flip__img.especial
  border-bottom-left-radius: 0!important
  border-bottom-right-radius: 0!important
  // background-size: contain
  background-repeat: no-repeat
  .div-title
    position: absolute
    bottom: 0
    right: 0
    left: 0
    font-weight: 600
    font-size: 14px

.flipper-especial
  position: relative
  border-bottom-left-radius: 0!important
  border-bottom-right-radius: 0!important
  div
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0.76
  p
    position: relative
    font-size: 13px
    vertical-align: middle
  img
    max-width: 100px
    max-height: 100px